@import '../../responsive.scss';
.no-results{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 348px;
    filter: drop-shadow(1px 1px 1px black);
    @include large{
        width: auto;
        height: 500px;
        display: flex;
        align-items: center;
    }
    @media (max-width:710px) {
        h1{
            font-size: 30px;
        
        }
    }
    @include small{
        h1{
            font-size: 28px;
        }
    }

}