@import '../../responsive.scss';
.singlePage{
    display: flex;
    gap: 35px;
    padding: 30px 0;
    @media (max-width:1220px) {
        flex-direction: column;
        align-items: center;
    }
}
.first-map_container{
    @media (max-width:1220px) {
        display: none;
    }
}
.sec-map_container{
    display: none;
    @media (max-width:1220px) {
        display: block;
    }
}

.buttons{
    display: flex;
    gap: 10px;

    align-items: center;
    a{
        width: 100%;
    }
    button{
        width: 100%;

        gap: 10px;
        color: white;
        display: flex;
        align-items: center;

        justify-content: center;
        border-bottom-width: 1px;
        border-color: rgba(255, 255, 255, 0.1);
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-top-width: 1px;
        border-radius: 12px;
        padding: 20px;
        background-color: rgb(13, 13, 13);
        transition: 0.5s all ease-in-out;

    }
    img{
        filter: invert(100%);
        width: 24px;
    }
}
.images{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 0px;
    @media (max-width:1220px) {
        flex-direction: column;
    }
    .bigImage{
        width: 570px;
        height: 377px;
        border-bottom-width: 2px;
        border-color:  rgba(255, 255, 255, 0.1);
        border-left-width: 2px;
        border-right-width: 2px;
        border-style: solid;
        border-top-width: 2px;
        border-radius: 12px;
        object-fit: cover;
        @include large{
            width: 532px;
            height: 300px;
        }
        @include small{
            width: 300px;
            height: 200px;
        }
    }
    .less-images{

        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-width: 1px;
        border-color:  rgba(255, 255, 255, 0.1);
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-top-width: 1px;
        border-radius: 12px;
        gap: 20px;
        padding: 20px;
        background-color: rgb(13, 13, 13);
        @media (max-width:1220px) {
            flex-direction: row;
        }
        @include small{
            flex-wrap: wrap;
            width: 300px;

        }
        img{
            width: 150px;
            height: 98px;
            
            object-fit: cover;
            @include small{
                width: 230px;
                height: 130px;
            }
        }
    }
}
.owner-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width:1220px) {
        display: none;
    }

}
.error{
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 3px 7px;

    background-color: rgb(173, 9, 9);
    border-radius: 12px;
    top: -5%;
    transition: 1s ease-in-out  ;
    opacity: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    @media (max-width:825px) {
        font-size: 16px;
    }
}
.error-op0{
    opacity: 1;
    top: 10%;
}
.owner-bottom{
    display: none;
    flex-direction: column;
    gap: 20px;

    @media (max-width:1220px) {
        display: flex;
        width: 500px;
    }
    @include small{
        width: 300px;
    }
}
.owner-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-width: 1px;
    border-color:  rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    text-align: center;
    border-top-width: 1px;
    border-radius: 12px;

    padding:20px;
    background-color: rgb(13, 13, 13);
    img{
        width: 90px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        height: 90px;
    }
    p{
        font-size: 30px;
        color: white;
        font-weight: 800;
        font-family: "Shadows Into Light", cursive;

    }
}
.features{
    display: flex;
    justify-content: center;

    gap: 40px;
    @media (max-width:1220px) {
        max-width:500px;
    }
    @include small{
        width: 300px;
    }
}
.list-wrapper{

    overflow-y: visible;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: sticky;

    top: 60px;
    left: 0;
}
.feature-text{
    display: flex;
    flex-direction: column;
    
    gap: 16px;
    h1{
        line-height: 55px;
        @include large{
            font-size: 40px;
        }
        @include small{
            font-size: 25px;
            line-height: 25px;
        }
    }
    div{
        display: flex;
        gap:10px;
        span{
            border-bottom-width: 1px;
            border-color:  rgba(255, 255, 255, 0.1);
            border-left-width: 1px;
            border-right-width: 1px;
            border-style: solid;
            border-top-width: 1px;
            background-color: rgba(255, 255, 255, 0.02);
            border-radius: 999px;
            opacity: 1;
            padding: 4px 8px;

            font-size: 13px;
            letter-spacing: -0.02em;
            line-height: 100%;
            color:  rgb(240, 240, 240);
            text-transform: uppercase;

        }
    }
}

.room-description{
    font-style: oblique;
}
.data-wrapper{

    margin-bottom: 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;


}
.listVertical{
    display: flex;
 
    gap: 20px;

    border-radius: 10px;
    @include large{
        flex-wrap: wrap;
    }
    .feature{
        border-bottom-width: 1px;
        border-color:  rgba(255, 255, 255, 0.1);
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-top-width: 1px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        img{
            filter: invert(100%);
            width: 24px;
        }
    }
}
.room-price{
    font-size: 40px ;
    color: rgb(255, 255, 255);
    @include small{
        font-size: 30px;
    }
}
.featureText{
    display: flex;
   
    gap: 5px;
    span{
        color: white;
    }
}
.sizes{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    border-radius: 10px;

    .size{
        border-bottom-width: 1px;
        border-color:  rgba(255, 255, 255, 0.1);
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-top-width: 1px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        padding: 10px;

        img{
            width: 24px;
            filter: invert(100%);
        }
    }
}

@media (any-hover: hover) {
    .buttons button:hover{
        filter: drop-shadow(0 0 2px white);
    }
}