@import '../../responsive.scss';
.map{
    width:570px;
    height: 266px;
    box-shadow: 1.5rem 1rem .7rem #0000002e;
    border-radius: 10px;
    border:  2px solid rgba(39, 38, 38, 0.979);
    @include large{
        width:532px;
    }
    @media (max-width:1220px) {
            width: 500px;
    }
    @include small{
        width: 300px;
        height: 200px;
    }
}